/*The A Team
Manzi Karama, Nathan Skerritt, Andrew Dopplinger
Formatting applied to category_list page*/

.imageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: center;
  padding: 25px 20% 0px 20%
}

.category {
  position: relative;
}

.category img {
  width: 25vw;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.overlay {
  position: absolute;
  top: 240px;
  left: 50%;
  background-color: var(--extra-dark);
  padding: 0px 15px 0px 15px;
  transform: translateX(-50%);
  pointer-events: none;
  flex-direction: column;
  gap: 5px;
}
